spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource #数据库池
    driver-class-name: com.mysql.cj.jdbc.Driver #数据库驱动
    url: jdbc:mysql://172.16.3.197:3306/study_sys?useUnicode=true&serverTimezone=Asia/Shanghai&characterEncoding=utf8 #数据库地址
    username: root #数据库账号
    password: Daohaode@4 #数据库密码
    druid:
      # 初始化大小，最小，最大
      initialSize: 1
      minIdle: 3
      maxActive: 20
      # 配置获取连接等待超时的时间
      maxWait: 60000
      # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
      filters: stat,wall,slf4j
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      #minEvictableIdleTimeMillis: 30000
      #来检测连接是否有效的sql
      validationQuery: select 1
      #申请连接的时候检测
      testWhileIdle: true
      #申请连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能。
      testOnBorrow: false
      #归还连接时执行validationQuery检测连接是否有效，做了这个配置会降低性能
      testOnReturn: false
      # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
      connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
      # 打开PSCache，并且指定每个连接上PSCache的大小
      #PSCache对支持游标的数据库性能提升巨大，比如说oracle。在mysql下建议关闭。
      #poolPreparedStatements: false
      #maxPoolPreparedStatementPerConnectionSize: -1
      web-stat-filter:
        enabled: true
        url-pattern: "/*"
        exclusions: "*.js,*.gif,*.jpg,*.bmp,*.png,*.css,*.ico,/druid/*"
        # 配置DruidStatViewServlet
      stat-view-servlet:
        url-pattern: "/druid/*"
        # IP白名单(没有配置或者为空，则允许所有访问)
        allow: 127.0.0.1,192.168.163.1
        # IP黑名单 (存在共同时，deny优先于allow)
        deny: 192.168.1.73
        #  禁用HTML页面上的“Reset All”功能
        reset-enable: false
        # 登录名
        login-username: admin
        # 登录密码
        login-password: 123456
#  profiles:
#    active: local

####################################################### mybatis-plus配置 ##############################################
mybatis-plus:
  #config-location: classpath:mybatis-config.xml #MyBatis 配置文件位置
  mapper-locations: classpath*:mappers/*.xml #mapper.xml 文件位置
  global-config:
    sql-parser-cache: true #是否缓存 Sql 解析
    db-config:
      id-type: auto #id类型
#############################################本地配置######################################################
---
spring:
  profiles: local
  datasource:
    url: jdbc:mysql://localhost:3306/study_sys?useUnicode=true&serverTimezone=Asia/Shanghai&characterEncoding=utf8 #数据库地址
    username: dba #数据库账号
    password: dba #数据库密码
