<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.permission.model.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.permission.model.entity.LogEntity">
    <result column="id" property="id" />
    <result column="operator" property="operator" />
    <result column="operator_time" property="operatorTime" />
    <result column="operator_ip" property="operatorIp" />
        <result column="type" property="type" />
        <result column="target_id" property="targetId" />
        <result column="old_value" property="oldValue" />
        <result column="new_value" property="newValue" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
